* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg-nav-admins {
	background-image: url(/image/mainbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20vh;
}

.nav-admin-padding {
	margin-bottom: 240px;
}

.inner-box {
	position: relative;
	bottom: -100px;
	left: 200px;
}

.inner-box-two {
	height: 150px;
	position: relative;
	bottom: -110px;
	left: 20px;
}

.count {
	font-size: 30px;
}

i {
	color: #06283D;
	font-size: 1.5em;
}

.adminDashboard{
	letter-spacing: 12px;
}

.trens-box {
	position: relative;
	height: 170px;
	cursor: pointer;
	overflow: hidden;
	transition: transform .2s;
}

.trens-box:hover {
	transform: scale(1.15);
	z-index: 1
}

.order-img {
	width: 130px;
}

.btn-msg {
	border:1px solid #850E35;
}



.box1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.442), rgb(0, 0, 0)), url(/image/oceanprob.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(90%);
}

.box2 {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.442), rgb(0, 0, 0)), url(/image/rescuedog.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(90%);
}

.box3 {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.442), rgb(0, 0, 0)), url(/image/wastem.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(90%);
}

.box4 {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.442), rgb(0, 0, 0)),
		url(../photos/wastem/helphand.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(90%);
}

.trends-p {
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}

.text-display-nav-none {
	display: none;
}

.btn-dashboard {
	background-color: #6D8B74;
	width: 100%;
}


@media only screen and (min-width: 601px) {
	.count {
		font-size: 50px;
	}
	i {
		font-size: 2.5em;
	}
	.bg-nav-admins {
		display: flex;
	}
	.inner-box {
		position: relative;
		bottom: -40px;
		left: 120px;
	}
	.inner-box-two {
		height: 225px;
		position: relative;
		bottom: -60px;
		left: 215px;
	}
	.nav-admin-padding {
		margin-bottom: 250px;
	}
	.text-display-nav-none {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.nav-admin-padding {
		margin-bottom: 190px;
	}
}

@media only screen and (min-width: 992px) {
	.nav-admin-padding {
		margin-bottom: 190px;
	}
}

@media only screen and (min-width: 1200px) {
	.nav-admin-padding {
		margin-bottom: 230px;
	}
}