<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>[[${#request.userPrincipal.principal.fullName}]] |
	Certificates</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link href="" rel="stylesheet" th:href=@{/css/index.css} />
<link href="" rel="stylesheet" th:href=@{/css/userprofile.css} />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
	<main class="d-flex">
		<div
			class="bg-profile border-danger col-1 fixed-top align-items-end d-flex justify-content-center">
			<div class="text-center">
				<h3>
					<a th:href="@{/userprofile}"
						class="btn btn-link text-decoration-none text-dark">Back</a>
				</h3>
			</div>
		</div>
		<section class=" border-2 border-success col-12">
			<div
				class="border-2 border-primary d-flex justify-content-evenly offset-1 pb-4">
				<div class="border-danger col-2">
					<div class="sticky-top pt-5">
						<div>
							<img th:src="@{/image/avatarprofile.png}"
								class=" rounded-circle w-100 shadow mb-4 " alt="profile picture">
							<p class="m-0">Spring Boot</p>
							<hr class="border border-primary m-0 mb-1 mt-1">
							<h3 class=" pb-4">
								<b>[[${#request.userPrincipal.principal.fullName}]]</b>
							</h3>
							<div class=" border-primary rounded shadow mt-3">
								<div class="text-center track p-1">
									<h5>
										<b>Track My Order</b>
									</h5>
								</div>
								<div class="border p-1 ">
									<div
										class="d-flex justify-content-evenly align-items-center mt-2 border-bottom">
										<div class="col-5 ">
											<h6>
												<b>Delivered</b>
											</h6>
										</div>
										<div class="col-2 text-center pb-1">
											<div class="tracker-circle border rounded-circle border-2">
												<p class="">2</p>
											</div>
										</div>

									</div>
									<div
										class="d-flex justify-content-evenly align-items-center mt-2 border-bottom">
										<div class="col-5">
											<h6>
												<b>In Transit</b>
											</h6>
										</div>
										<div class="col-2 text-center pb-1">
											<div class="tracker-circle rounded-circle border border-2">
												<p class="">1</p>
											</div>
										</div>
									</div>
									<div
										class="d-flex justify-content-evenly align-items-center mt-2 border-bottom">
										<div class="col-5">
											<h6>
												<b>Processing</b>
											</h6>
										</div>
										<div class="col-2 text-center pb-1">
											<div class="tracker-circle rounded-circle border border-2">
												<p class="">0</p>
											</div>
										</div>
									</div>
									<div
										class="d-flex justify-content-evenly align-items-center mt-2">
										<div class="col-5">
											<h6>
												<b>To Pay</b>
											</h6>
										</div>
										<div class="col-2 text-center pb-1">
											<div class="tracker-circle rounded-circle border border-2">
												<p class="">0</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- View Certificate   -->
				<div
					class="col-8 d-flex justify-content-center  align-items-center ">
					<div class=" ">
						<div>
							<div class="text-center m-4">
								<h2>CERTIFICATE OF LIVE BIRTH</h2>
							</div>
							<div class="d-flex flex-wrap">
								<div class="border col-4">
									<p>First Name</p>
									<p><b>Van Arden</b></p>

								</div>
								<div class="border col-4">
									<p>Middle Name</p>
									<p><b>Salud</b></p>
								</div>
								<div class="border col-4">
									<p>Last Name</p>
									<p><b>Mercado</b></p>
								</div>
								<div class="border col-4">
									<p>Maiden Name (if married)</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>Suffix</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>Place of Birth</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>Date of Birth</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>First Name (Mother)</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>Last Name (Mother) - Maiden Surname</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>First Name (Father)</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>Last Name (Father)</p>
									<p>_________________________________</p>
								</div>
								<div class="border col-4">
									<p>Date of Birth</p>
									<p>_________________________________</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- End View Certificate  -->
		</section>
	</main>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>